
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<div class="row">
    <div class="col-md-6">
        <h3>Gestion des académies</h3>

        @Html.ActionLink("Créer une académie", "Create", "Academies", routeValues: null, htmlAttributes: new { title = "Manage" })
        <table>
            @foreach (var item in ViewBag.Academy)
            {
                <tr style="border: 1px solid black">
                    <td class="col-md-4">@item.Name</td>
                    <td class="col-md-4">@item.Area</td>
                    <td class="col-md-4">@Html.ActionLink("Supprimer", "Delete", "Academies", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Manage"})</td>
                    <td class="col-md-4">@Html.ActionLink("Modifier", "Edit", "Academies", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Manage"})</td>
                </tr>
            }
        </table>
    </div>
    <div class="col-md-6">

        <h3>Gestion des statistiques</h3>

        @Html.ActionLink("Créer une statistique", "Create", "Statistics", routeValues: null, htmlAttributes: new { title = "Manage" })
        <table>

            @foreach (var item in ViewBag.Stat)
            {
                <tr style="border: 1px solid black">
                    <td class="col-md-3">@item.Academy.Name</td>
                    <td class="col-md-3">@item.Description</td>
                    <td class="col-md-2">@item.Score</td>
                    <td class="col-md-2">@Html.ActionLink("Supprimer", "Delete", "Statistics", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Manage" })</td>
                    <td class="col-md-2">@Html.ActionLink("Modifier", "Edit", "Statistics", routeValues: new { id = item.Id }, htmlAttributes: new { title = "Manage" })</td>
                </tr>

            }

        </table>

    </div>
</div>